<a href="https://colab.research.google.com/github/WittmannF/br-data-science/blob/master/python/challenges/Desafio_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 11

Dado um dicionário, obtenha todos os valores do dicionário e adicione-o a uma lista, mas não 
adicione valores duplicados.

`
dicionario ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}
`

Saída esperada: [47, 52, 44, 53, 54]

In [0]:
# Seu código